Repository PNU-DT-2023/InvitationToRemininsce, pull requests merged in 2023-07, with the labels that each got.

#4 [FEAT] 퍼즐 기본기능 구현
  puzzlepage.html
  src/css/puzzle-style.css
  src/img/puzzlesample-now-1.jpg
  src/img/puzzlesample-now.jpg
  src/img/puzzlesample-past-1.jpg
  src/img/puzzlesample-past.jpg
  src/js/puzzle.js
Labels: 🧩Puzzle

#6 [FEAT] #5 Ending 페이지
  ending.html
  index.html
  src/css/ending-style.css
  src/js/ending.js
  src/js/puzzle.js
Labels: 🔚 Ending

#7 [ADD] #3 퍼즐 진행도
  puzzlepage.html
  src/css/puzzle-style.css
  src/js/puzzle.js
Labels: enhancement, 🧩Puzzle

#11 [ADD] #3 퍼즐조각 모양 변경
  puzzlepage.html
  src/css/puzzle-style.css
  src/js/puzzle.js
Labels: 🧩Puzzle

#13 [FEAT] #12-NEW 엔딩 구현
  ending.html
  puzzlepage.html
  src/css/ending-style.css
  src/css/main.css
  src/css/puzzle-style.css
  src/img/car.svg
  src/img/ending_addressArrow.svg
  src/img/ending_home-icon.svg
  src/img/ending_title.svg
  src/img/puzzlesample-now-1.jpg
  src/img/puzzlesample-now.jpg
  src/img/puzzlesample-past-1.jpg
  src/img/puzzlesample-past.jpg
  src/img/wave.png
  src/js/ending.js
  src/js/puzzle.js
Labels: 🔚 Ending

#17 [FIX] #3 퍼즐조각, 이미지 파일 관련 수정
  src/css/puzzle-style.css
  src/js/puzzle.js
Labels: 🧩Puzzle

#19 [ADD] 감상모드 스와이프 로티 추가
  ending.html
  src/css/ending-style.css
  src/img/swipeNotice_w.json
  src/js/ending.js
Labels: 🔚 Ending
